# Import & Load Employability data

### Config

In [1]:
import sys
import configparser
config = configparser.ConfigParser()
config.read_file(open('../../../settings.ini'))

sys.path.insert(0, config.get('PATHS','libs_path'))
engine_path = config.get('DATABASE','engine_path')

### Main params

In [2]:
remote_path = 'http://pacha.datawheel.us/educacion/empleabilidad/'
local_path = '../data/'

### Imports

In [3]:
import postgres #from local file postgres.py
from commons import inline_table_xml, download_file, download_zip_file, extract_zip_file #from local file commons.py

import json
import pandas as pd
from sqlalchemy import create_engine

### Load file

In [4]:
#Download and unzip
df = download_file(remote_path,local_path,'empleabilidad_e_ingresos_todos_los_planteles_db.csv')
df[['ingreso_promedio_4to_anio_id']] = df[['ingreso_promedio_4to_anio_id']].fillna(value=-1)
df[['arancel_anual_2016']] = df[['arancel_anual_2016']].fillna(value=-1)
df = df.astype({'institucion_id':'int','tipo_institucion_id':'int','acreditacion_id':'int','carrera_id':'int','ingreso_promedio_4to_anio_id':'int','arancel_anual_2016':'int'})
df = df.rename(columns={'institucion_id':'higher_educational_institutions_id','tipo_institucion_id':'higher_educational_institution_type_id','acreditacion_id':'accreditation_id','carrera_id':'career_id','ingreso_promedio_4to_anio_id':'avg_income_4th_id','arancel_anual_2016':'annual_payment_2016'});
df

Downloading... http://pacha.datawheel.us/educacion/empleabilidad/empleabilidad_e_ingresos_todos_los_planteles_db.csv
Encoding: ascii

,higher_educational_institutions_id,higher_educational_institution_type_id,accreditation_id,career_id,avg_income_4th_id,pcent_subvencionados,retencion_1er_anio,duracion_real_semestres,empleabilidad_1er_anio,annual_payment_2016
0,72,3,6,1,19,0.418,0.898,NaN,0.333,3672000
1,116,3,1,3,24,0.596,NaN,NaN,0.858,2317500
2,80,3,5,4,21,0.939,0.756,NaN,0.763,2200000
3,112,3,4,6,10,0.901,NaN,15.5,0.841,2664000
4,104,3,4,9,10,0.030,0.962,10.3,0.932,4646169
5,112,3,4,11,19,0.914,0.811,13.9,0.643,2649000
6,112,3,4,13,2,0.944,0.903,11.8,0.840,2121000
7,109,3,5,13,4,0.948,0.809,11.5,0.842,2921000
8,89,3,2,13,2,0.923,0.835,12.0,0.855,3196000
9,96,3,6,13,6,0.875,0.871,12.5,0.869,3023400
10,92,3,3,13,24,0.896,NaN,NaN,0.904,2774000
11,74,3,2,13,24,0.954,0.596,13.1,0.917,1942500
12,83,3,7,13,24,0.923,0.633,NaN,0.984,1620000
13,100,3,3,14,24,1.000,NaN,NaN,0.757,2160000
14,86,3,4,16,24,0.950,NaN,NaN,0.886,1535000
15,98,3,4,18,22,0.934,0.811,NaN,0.591,2742000
16,73,3,5,18,10,0.757,0.769,14.2,0.596,3892000
17,111,3,4,18,22,0.962,0.778,NaN,0.709,2966000
18,97,3,6,18,1,0.920,0.784,19.2,0.718,2870000
19,117,3,1,18,24,0.889,NaN,NaN,0.754,1800000
20,85,3,3,69,22,0.976,0.857,13.2,0.875,2070000
21,128,3,1,69,22,0.983,0.729,9.7,0.898,1578722
22,103,3,7,69,1,NaN,NaN,NaN,0.912,-1
23,117,3,1,69,24,0.900,NaN,NaN,0.939,1500000
24,116,3,1,69,24,0.909,NaN,NaN,0.948,2070000
25,105,3,3,69,22,0.976,NaN,NaN,0.955,2090000
26,99,3,2,69,10,0.987,0.773,11.7,0.960,1880683
27,78,3,3,69,3,0.939,0.765,12.7,0.967,2534434
28,73,3,5,69,2,0.892,0.867,14.3,0.969,2944000
29,114,3,4,70,3,0.894,0.835,12.4,0.963,2618000
...,...,...,...,...,...,...,...,...,...,...
1611,33,1,4,421,24,1.000,0.742,NaN,0.681,1300000
1612,2,1,7,421,18,1.000,0.570,6.3,0.703,825000
1613,12,1,5,421,20,0.933,0.771,6.3,0.704,1495000
1614,16,1,5,421,20,0.916,0.696,7.0,0.739,1592533
1615,28,1,7,421,19,0.954,0.738,7.9,0.828,1125000
1616,20,1,1,421,24,0.975,0.664,6.5,0.829,1184500
1617,35,1,7,421,19,1.000,0.089,9.1,0.837,809937
1618,17,1,7,421,24,NaN,NaN,NaN,0.856,1104000
1619,27,1,7,421,24,1.000,NaN,NaN,0.860,735000
1620,30,1,2,423,24,0.996,0.591,6.3,0.661,950000
1621,3,1,2,425,24,0.967,0.625,6.0,0.794,1155000
1622,12,1,5,425,20,0.985,0.827,6.2,0.820,1495000
1623,12,1,5,426,21,0.961,0.687,7.0,0.807,1660000
1624,3,1,2,427,19,0.976,0.561,6.4,0.820,1155000
1625,12,1,5,428,21,0.955,0.772,6.6,0.883,1530000
1626,25,1,2,429,17,1.000,0.714,6.3,0.639,1280000
1627,11,1,3,429,24,1.000,0.586,NaN,0.795,1294560
1628,15,1,2,430,20,0.982,0.604,7.2,0.862,869000
1629,10,1,2,431,24,0.851,0.619,7.2,0.582,1343333
1630,35,1,7,432,18,1.000,NaN,NaN,0.837,894700
1631,33,1,4,433,18,1.000,NaN,NaN,0.606,1104667
1632,16,1,5,435,18,0.939,NaN,7.8,0.590,1470500
1633,34,1,2,436,17,0.978,0.615,7.4,0.462,1591232
1634,12,1,5,437,20,0.950,0.775,6.5,0.856,1530000
1635,2,1,7,438,17,1.000,NaN,NaN,0.818,865000
1636,12,1,5,443,24,0.988,0.817,6.4,0.570,1500000
1637,29,1,7,443,24,1.000,0.786,NaN,0.621,720500
1638,2,1,7,446,18,1.000,0.542,8.1,0.695,865000
1639,34,1,2,445,19,0.994,0.561,6.9,0.633,1263650
1640,3,1,2,447,19,0.967,0.672,6.3,0.838,1155000

### Ingest

In [5]:
engine = create_engine(engine_path)
db = postgres.PostgresDriver(engine)
db.to_sql(df, 'education', 'fact_employability')

DROP TABLE IF EXISTS education.fact_employability;
CREATE TABLE "education"."fact_employability" (
"higher_educational_institutions_id" INTEGER,
  "higher_educational_institution_type_id" INTEGER,
  "accreditation_id" INTEGER,
  "career_id" INTEGER,
  "avg_income_4th_id" INTEGER,
  "pcent_subvencionados" REAL,
  "retencion_1er_anio" REAL,
  "duracion_real_semestres" REAL,
  "empleabilidad_1er_anio" REAL,
  "annual_payment_2016" INTEGER
)
COPY "education"."fact_employability" ("higher_educational_institutions_id","higher_educational_institution_type_id","accreditation_id","career_id","avg_income_4th_id","pcent_subvencionados","retencion_1er_anio","duracion_real_semestres","empleabilidad_1er_anio","annual_payment_2016") FROM STDIN WITH CSV HEADER DELIMITER ',';

### Updates

In [6]:
engine.execute("""
UPDATE education.fact_employability SET annual_payment_2016 = NULL where annual_payment_2016 = -1;
""")

engine.execute("""
UPDATE education.fact_employability SET avg_income_4th_id = NULL where avg_income_4th_id = -1;
""")

### Dims

In [7]:
d2 = download_file(remote_path+'ids/',local_path,'anios_acreditacion.csv')
d2 = d2.rename(columns={'acreditacion':'accreditation','acreditacion_id':'accreditation_id'});
print (inline_table_xml(d2, 'accreditation', 'accreditation_id', 'accreditation'))

Downloading... http://pacha.datawheel.us/educacion/empleabilidad/ids/anios_acreditacion.csv
Encoding: utf-8

<InlineTable alias="accreditation">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">1</Value>
      <Value column="description">2 aÃ±os</Value>
      <Value column="es_description">2 aÃ±os</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">3 aÃ±os</Value>
      <Value column="es_description">3 aÃ±os</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">4 aÃ±os</Value>
      <Value column="es_description">4 aÃ±os</Value>
    </Row>
  <Row>
      <Value column="id">4</Value>
      <Value column="description">5 aÃ±os</Value>
      <Value column="es_description">5 aÃ±os</Value>
    </Row>
  <Row>
      <Value column="id">5</Value>
      <Value column="description">6 aÃ±os</Value>
      <Value column="es_description">6 aÃ±os</Value>
    </Row>
  <Row>
      <Value column="id">6</Value>
      <Value column="description">7 aÃ±os</Value>
      <Value column="es_description">7 aÃ±os</Value>
    </Row>
  <Row>
      <Value column="id">7</Value>
      <Value column="description">No</Value>
      <Value column="es_description">No</Value>
    </Row>
  </Rows>
</InlineTable>

In [8]:
d4 = download_file(remote_path+'ids/',local_path,'tipo_institucion.csv')
d4 = d4.rename(columns={'tipo_institucion':'higher_educational_institution_type','tipo_institucion_id':'higher_educational_institution_type_id'});
print (inline_table_xml(d4, 'higher_educational_institution_type', 'higher_educational_institution_type_id', 'higher_educational_institution_type'))

Downloading... http://pacha.datawheel.us/educacion/empleabilidad/ids/tipo_institucion.csv
Encoding: ISO-8859-2

<InlineTable alias="higher_educational_institution_type">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">1</Value>
      <Value column="description">Centro de Formacion TÄ‚Å cnica</Value>
      <Value column="es_description">Centro de Formacion TÄ‚Å cnica</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">Instituto Profesional</Value>
      <Value column="es_description">Instituto Profesional</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">Universidad</Value>
      <Value column="es_description">Universidad</Value>
    </Row>
  </Rows>
</InlineTable>

In [9]:
d3 = download_file(remote_path+'ids/',local_path,'ingreso_promedio_4to_anio.csv')
d3 = d3.rename(columns={'ingreso_promedio_4to_anio':'avg_income_4th','ingreso_promedio_4to_anio_id':'avg_income_4th_id'});
print (inline_table_xml(d3, 'avg_income_4th_id', 'avg_income_4th_id', 'avg_income_4th'))

Downloading... http://pacha.datawheel.us/educacion/empleabilidad/ids/ingreso_promedio_4to_anio.csv
Encoding: utf-8

<InlineTable alias="avg_income_4th_id">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">1</Value>
      <Value column="description">De $1 millÃ³n 100 mil a $1 millÃ³n 200 mil</Value>
      <Value column="es_description">De $1 millÃ³n 100 mil a $1 millÃ³n 200 mil</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">De $1 millÃ³n 200 mil a $1 millÃ³n 300 mil</Value>
      <Value column="es_description">De $1 millÃ³n 200 mil a $1 millÃ³n 300 mil</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">De $1 millÃ³n 300 mil a $1 millÃ³n 400 mil</Value>
      <Value column="es_description">De $1 millÃ³n 300 mil a $1 millÃ³n 400 mil</Value>
    </Row>
  <Row>
      <Value column="id">4</Value>
      <Value column="description">De $1 millÃ³n 400 mil a $1 millÃ³n 500 mil</Value>
      <Value column="es_description">De $1 millÃ³n 400 mil a $1 millÃ³n 500 mil</Value>
    </Row>
  <Row>
      <Value column="id">5</Value>
      <Value column="description">De $1 millÃ³n 500 mil a $1 millÃ³n 600 mil</Value>
      <Value column="es_description">De $1 millÃ³n 500 mil a $1 millÃ³n 600 mil</Value>
    </Row>
  <Row>
      <Value column="id">6</Value>
      <Value column="description">De $1 millÃ³n 600 mil a $1 millÃ³n 700 mil</Value>
      <Value column="es_description">De $1 millÃ³n 600 mil a $1 millÃ³n 700 mil</Value>
    </Row>
  <Row>
      <Value column="id">7</Value>
      <Value column="description">De $1 millÃ³n 700 mil a $1 millÃ³n 800 mil</Value>
      <Value column="es_description">De $1 millÃ³n 700 mil a $1 millÃ³n 800 mil</Value>
    </Row>
  <Row>
      <Value column="id">8</Value>
      <Value column="description">De $1 millÃ³n 800 mil a $1 millÃ³n 900 mil</Value>
      <Value column="es_description">De $1 millÃ³n 800 mil a $1 millÃ³n 900 mil</Value>
    </Row>
  <Row>
      <Value column="id">9</Value>
      <Value column="description">De $1 millÃ³n 900 mil a $2 millones</Value>
      <Value column="es_description">De $1 millÃ³n 900 mil a $2 millones</Value>
    </Row>
  <Row>
      <Value column="id">10</Value>
      <Value column="description">De $1 millÃ³n a $1 millÃ³n 100 mil</Value>
      <Value column="es_description">De $1 millÃ³n a $1 millÃ³n 100 mil</Value>
    </Row>
  <Row>
      <Value column="id">11</Value>
      <Value column="description">De $2 millones 100 mil a $2 millones 200 mil</Value>
      <Value column="es_description">De $2 millones 100 mil a $2 millones 200 mil</Value>
    </Row>
  <Row>
      <Value column="id">12</Value>
      <Value column="description">De $2 millones 200 mil a $2 millones 300 mil</Value>
      <Value column="es_description">De $2 millones 200 mil a $2 millones 300 mil</Value>
    </Row>
  <Row>
      <Value column="id">13</Value>
      <Value column="description">De $2 millones 300 mil a $2 millones 400 mil</Value>
      <Value column="es_description">De $2 millones 300 mil a $2 millones 400 mil</Value>
    </Row>
  <Row>
      <Value column="id">14</Value>
      <Value column="description">De $2 millones 400 mil a $2 millones 500 mil</Value>
      <Value column="es_description">De $2 millones 400 mil a $2 millones 500 mil</Value>
    </Row>
  <Row>
      <Value column="id">15</Value>
      <Value column="description">De $2 millones a $2 millones 100 mil</Value>
      <Value column="es_description">De $2 millones a $2 millones 100 mil</Value>
    </Row>
  <Row>
      <Value column="id">16</Value>
      <Value column="description">De $300 mil a $400 mil</Value>
      <Value column="es_description">De $300 mil a $400 mil</Value>
    </Row>
  <Row>
      <Value column="id">17</Value>
      <Value column="description">De $400 mil a $500 mil</Value>
      <Value column="es_description">De $400 mil a $500 mil</Value>
    </Row>
  <Row>
      <Value column="id">18</Value>
      <Value column="description">De $500 mil a $600 mil</Value>
      <Value column="es_description">De $500 mil a $600 mil</Value>
    </Row>
  <Row>
      <Value column="id">19</Value>
      <Value column="description">De $600 mil a $700 mil</Value>
      <Value column="es_description">De $600 mil a $700 mil</Value>
    </Row>
  <Row>
      <Value column="id">20</Value>
      <Value column="description">De $700 mil a $800 mil</Value>
      <Value column="es_description">De $700 mil a $800 mil</Value>
    </Row>
  <Row>
      <Value column="id">21</Value>
      <Value column="description">De $800 mil a $900 mil</Value>
      <Value column="es_description">De $800 mil a $900 mil</Value>
    </Row>
  <Row>
      <Value column="id">22</Value>
      <Value column="description">De $900 mil a $1 millÃ³n</Value>
      <Value column="es_description">De $900 mil a $1 millÃ³n</Value>
    </Row>
  <Row>
      <Value column="id">23</Value>
      <Value column="description">Sobre $2 millones 500 mil</Value>
      <Value column="es_description">Sobre $2 millones 500 mil</Value>
    </Row>
  <Row>
      <Value column="id">24</Value>
      <Value column="description">nan</Value>
      <Value column="es_description">nan</Value>
    </Row>
  </Rows>
</InlineTable>